<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Voxar’s Bundle</string>
	<key>uuid</key>
	<string>49FF78ED-F870-4CDB-A242-417ACF70F414</string>
</dict>
</plist>
